
table.form-table, table.info-table
{
    width:100%
}

table.form-table td, table.info-table td
{
    padding:7px;
}

table.form-table input, table.form-table select, table.info-table input, table.info-table select
{
    margin-bottom:0;
}

table.form-table td:nth-child(even)
{
    text-align:left;
}


table.form-table td:nth-child(odd)
{
    font-weight:bold;
    text-align:right;
}

table.info-table td:nth-child(odd)
{
    font-weight:bold;
}

.action-bar
{
    margin-bottom:20px;
}

.login-container
{
    margin-top:80px;
}

table tr td.regularCursor
{
    cursor:default;
}

ul.home-nav li a i
{
    /* margin-top:4px; */
}

table.auth-table tr td
{
    padding:20px;
    font-size:22px;
    /* font-weight:bolder; */
}

div.key
{
    width:100%;
    font-size:40px;
    font-weight:bolder;
    text-align:center;
    color:#17cd23;

    margin:30px 0;
}

.create-album
{
    margin:5px 0 25px 0;
}

.editAlbum
{
    height:700px;
}

.img-row
{
    margin:5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid white;


}

.img-row:hover
{
    cursor:move;
    border:1px solid #e8c0ff;
    background:#e8f1ff;
}

table.img-tbl tr td
{
    padding:5px;
    font-weight:bold;
}


table.img-tbl tr td.imgThumb
{
    height:100px;
    width:100px;
    text-align:center;
}
